.book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    min-height: 300px;
    
}

.book img {
    width: 10rem;
}

.drag-over{
    background-color: red;
}